<html>
  <body>
    <form action="signup">
      <table>
        <th>SIGNUP</th>
        <tr>
         <td>Enter Name</td><td><input type="text" name="name" required></td>
        </tr>
        <tr>
         <td>Enter Email</td><td><input type="text" name="email" required></td>
        </tr>
        <tr>
         <td>Enter Password</td><td><input type="password" name="password" required></td>
        </tr>
        <tr>
        <td>Select Gender</td>
        <td>
        <input type="radio" name="gender" value="Male" >Male
        <input type="radio" name="gender" value="Female">Female
        </td>
        </tr>
        <tr>
          <td>Select city</td>
            <td>
              <select name="city">
                <option value="BE">Bareilly</option>
                <option>Agra</option>
              </select>
            </td>
        </tr>
        <tr>
          <td>  <input type="submit" value="submit"></td><td><input type="reset"></td>
        </tr>
      </table>
    </form>


    <form action="login">
      <table>
        <th>LOGIN</th>
        <tr>
         <td>Enter Email</td><td><input type="text" name="uemail"></td>
        </tr>
        <tr>
         <td>Enter Password</td><td><input type="password" name="upassword"></td>
        </tr>

        <tr>
          <td>  <input type="submit" value="submit"></td>
        </tr>
      </table>
    </form>
  </body>
</html>
